/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 30, 2018, 3:31:51 PM
    Author     : sávi
*/
body {
    background-color: powderblue;
}

a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}